/* Подключение шрифтов */
.body {
  font-family: "Roboto", sans-serif;
  color: 000000;
  background-color: #ffffff;
  font-size: 14px;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* Логотип */
.logo-accen {
  color: black;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* Меню */
.site-nav-text {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* фильтры */
.filter-button {
  color: black;
  background: #2196f3;
}
.filter-button:hover {
  color: wheat;
}
