/* Подключение шрифтов */
.body {
  font-family: "Roboto", sans-serif;
  color: 000000;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.45;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* Логотип */
.logo-accen {
  color: black;
}
.logo-accen-footer {
  color: white;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* Меню */
.site-nav-text {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.button {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.site-nav-text:hover {
  color: #2196f3;
}
/* контакты*/
.contacts-text {
  color: #757575;
}
.contacts-text:hover {
  color: #2196f3;
}
/* фильтры */
.filter-button {
  color: black;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #2196f3;
}
.filter-button:hover {
  color: white;
}
/* Стол заказов */
.section-services {
  background: #2b2e4b;
}
.section-title {
  color: white;
}
/* Подвал */
.footer {
  background: #2f303a;
}
.footer-location {
  color: #ffffff;
}
.footer-location:hover {
  color: #2196f3;
}
.footer-text {
  color: #ffffff99;
}
.footer-text:hover {
  color: #2196f3;
}
