/*цвет основного текста  #757575*/
/*вторичный цвет текста  #212121*/
/*белий #FFFFFF */
/*акцент #2196f3 */
/*цвет сылок  rgba (255, 255, 255, 0.6); */
/*вторичный цвет фона #2F303A; */

/* Подключение шрифтов */
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.45;
}
.list {
  list-style: none;
}

.title {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-h2 {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Логотип */
.logo-accen {
  color: black;
}
.logo-accen-footer {
  color: white;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.section-title {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.specifics {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/* Меню */
.site-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.button {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.site-nav-text:hover,
:focus {
  color: #2196f3;
}
/* контакты*/
.contacts-text {
  color: #757575;
}
.contacts-text:hover {
  color: #2196f3;
}
/* фильтры */
.filter-button {
  color: black;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #2196f3;
}
.filter-button:hover {
  color: white;
}
/* Стол заказов */
.section-services {
  background: #2b2e4b;
}
.section-title {
  color: white;
}
/* Подвал */
.footer {
  background: #2f303a;
}
.footer-location {
  color: #ffffff;
}
.footer-location:hover {
  color: #2196f3;
}
.footer-text {
  color: #ffffff99;
}
.footer-text:hover {
  color: #2196f3;
}
