body {
    
    font-family: "Roboto";
    color:#434455;
    background-color:#FCFCFC;
    font-size: 14px;
    line-height: 19.6px;

        }
.list-text-decoration,
.menu,
.menu-contacts
 {
    list-style-type: none;
        }
.menu-contacts-link, 
.logo-link,
.menu-link {
    text-decoration: none;
}
button {cursor: pointer;}
.logo-link
{ 
    font-family: "Raleway";
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
}
.lodo-accent{
    color: black;
    font-family: "Raleway";
    
}
.menu-link {

}
.order-service {
    background: rgba(46, 47, 66, 1);
    width: 1440px;
    height: 600px;
    color: #FCFCFC;
           
 }
.order-service-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.order-service-button {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
    

}